<h1>Products</h1>

{{#if products.length}}
<div class="row">
    <div class="col s3" style="width : auto">
        {{#each products}}
        <div class="card" style=" float: left; margin: 0 2rem">
            <a href="/products/{{id}}" target="_blank">
                <div class="card-image">
                    <img src="{{img}}" alt="{{title}}">
                </div>
            </a>
            <div class="card-content">
                <span class="card-title">{{title}}</span>
                <p class="price">{{price}}</p>
            </div>
            <div class="card-action">
                <a href="/products/{{id}}" target="_blank">More</a>
                <a href="/products/{{id}}/edit?allow=true">Edit</a>
            </div>
        </div>
        {{/each}}
    </div>
</div>
{{else}}
<p>There are no products</p>
{{/if}}